<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h1 class="display-4">Downloads</h1>
            <hr class="my-4">
            <ul>
                <li>
                    <a href="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/runemarks" target="_blank">(All) Runemarks</a>
                </li>
                <li>
                    <a href="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/templates" target="_blank">Mask templates for creating fighter images</a>
                </li>
                <li>
                    <a href="assets/img/fighters/large-dark-near.png" target="_blank">large dark template near side</a> -
                    <a href="assets/img/fighters/large-dark-far.jpg" target="_blank">large dark template back side</a>
                </li>
                <li>
                    <a href="assets/img/fighters/large-fire-near.png" target="_blank">large fire template near side</a> -
                    <a href="assets/img/fighters/large-fire-far.jpg" target="_blank">large fire template back side</a>
                </li>
                <li>
                    <a href="assets/img/fighters/large-light-near.png" target="_blank">large light template near side</a> -
                    <a href="assets/img/fighters/large-light-far.jpg" target="_blank">large light template back side</a>
                </li>
                <li>
                    <a href="assets/img/fighters/small-book-near2.png" target="_blank">small base template near side</a> -
                    <a href="assets/img/fighters/small-book-far.jpg" target="_blank">small base template back side</a>
                </li>
                <li>
                    <a href="assets/img/fighters/list-near.png" target="_blank">list near side</a>
                </li>
                <li>
                  <a href="assets/img/fighters/list-fire-far.jpg" target="_blank">list fire template back side</a> -
                    <a href="assets/img/fighters/list-book-far.jpg" target="_blank">list book template back side</a>
                </li>


            </ul>
        </div>
    </div>

    <div class="col-lg-4"></div>

</div>
