<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, width=device-width">
<title>Warcry Card Creator 2.0 – Fighters and Abilities</title>
<meta name="color-scheme" content="dark light">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/fighterApp.css">
<link rel="stylesheet" href="assets/css/messages.css">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/favicons/site.webmanifest">
<link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#333333">
<meta name="msapplication-TileColor" content="#333333">
<meta name="theme-color" content="#ffffff">
