<script src="assets/vendors/jquery.js"></script>
<script src="assets/vendors/popper.min.js"></script>
<script src="assets/vendors/bootstrap.min.js"></script>
<script src="assets/vendors/FileSaver.min.js"></script>
<script src="assets/vendors/addKerning.js"></script>
<script src="assets/js/jszip.min.js"></script>
<script src="assets/js/messages.js"></script>

<script src="assets/js/fightercard.js"></script>
<script src="assets/js/fighterApp.js"></script>
<script src="assets/js/fceditor.js"></script>
<script type="application/javascript" src="assets/js/radB.js"></script>

<script src="assets/js/builder.js"></script>
<script src="assets/vendors/sorttable.js"></script>
