<div class="font-hack sr-only" style="font-family:'rodchenkoctt';visibility:hidden;">Nothing to see here, move along…</div>

<nav class="mt-2 navbar navbar-expand-lg p-0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-tabs">
            <li class="nav-item">
                <a title="fighters" class="nav-link" onclick="mainTabsClick(this)">Fighters</a>
            </li>
            <li class="nav-item">
                <a title="abilities" class="nav-link" onclick="mainTabsClick(this)">Abilities</a>
            </li>
            <li class="nav-item">
                <a title="builder" class="nav-link" onclick="mainTabsClick(this)">Builder</a>
            </li>
            <li class="nav-item">
                <a title="downloads" class="nav-link" onclick="mainTabsClick(this)">Downloads</a>
            </li>
            <li class="nav-item">
                <a title="about" class="nav-link" onclick="mainTabsClick(this)">About</a>
            </li>
        </ul>
          </div>
        <!-- opening zip file -->
        <label class="btn btn-success" style="margin-bottom:0px" for="fileLoad">Load Project</label>&nbsp;
        <input class="form-control-file" id="fileLoad" oninput="loadFile(this)" type="file">
        <button type="submit" class="btn btn-success" id="saveZipButton">Save Project</button>&nbsp;
          <script>
              document.getElementById("saveZipButton").addEventListener("click", (e)=>{
                // save, then callback re-activates our download button
                saveToZip(e,function(e){
                  e.target.className = e.target.className.replace(' disabled',""); e.target.disabled = false;
                });
                e.target.className+=" disabled";
                e.target.disabled = "true";

            });
          </script>

</nav>

<script>
  function mainTabsClick(e){

    // change classnames to show selected tab
    const btns = e.parentNode.parentNode.querySelectorAll(".nav-link");//getElementsByTagName("button");
    for(const b of btns) {
        b.className = b.className.replace(" active","");
    }
    e.className+=" active"; //set this one correctly

    // change our divs to hidden, activate newly selected
    const divs = document.getElementById("main-tabs-container").childNodes;
    for(const d of divs){
      if (d.tagName == "DIV")
        d.style.display="none";
    }
    document.getElementById("main-tabs-"+e.title).style.display = "block";
  }

  </script>
