<img id="rn:Agile" src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile"/>
<img  id="rn:Ally" src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally"/>
<img id="rn:Beast" src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast"/>
<img id="rn:Berserker" src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker"/>
<img id="rn:Brute" src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute"/>
<img id="rn:Bulwark" src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark"/>
<img id="rn:Champion" src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion"/>
<img id="rn:Destroyer" src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer"/>
<img id="rn:Elite" src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite"/>
<img id="rn:Ferocious" src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious"/>
<img id="rn:Fly" src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly"/>
<img id="rn:Frenzied" src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied"/>
<img id="rn:Gargantuan" src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan"/>
<img id="rn:Icon Bearer" src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer"/>
<img id="rn:Leader" src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Leader"/>
<img id="rn:Minion" src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion"/>
<img id="rn:Mount" src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount"/>
<img id="rn:Mystic" src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic"/>
<img id="rn:Priest" src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest"/>
<img id="rn:Scout" src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout"/>
<img id="rn:Sentience" src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience"/>
<img id="rn:Terrifying" src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying"/>
<img id="rn:Thrall" src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall"/>
<img id="rn:Trapper" src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper"/>
<img id="rn:Warrior" src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior"/>
